@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<br/>
<p>RPG CMS is an open-source project created by Grant Hardman for the purpose of managing tabletop RPG content.</p>
<p>The source can be found on github: <a href="https://github.com/vShyotu/RPG-CMS">Source</a> </p>